* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}
body {
  background: silver;
  font-family: "Fira Sans Extra Condensed";
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.hourbar {
  align-items: center;
  background-color: white;
  display: flex;
  height: 34px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
}

.navbar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 52px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
}

.logo {
  clip: rect(0 265px 90px 0);
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 265px;
}

.big-logo,
.lil-logo {
  position: absolute;
}

.big-logo img,
.lil-logo img {
  position: relative;
  z-index: 19;
}

.big-logo {
  height: 85px;
  width: 230px;
}

.lil-logo {
  height: 52px;
  width: 150px;
}

.big-logo:before,
.lil-logo:before {
  background-color: white;
  content: "";
  height: 100%;
  left: calc(100% - 40px);
  position: absolute;
  top: 0;
  transform: skew(-19deg);
  transform-origin: bottom right;
  width: 40px;
  z-index: 10;
}

.big-logo:after,
.lil-logo:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 90px;
  left: -3px;
  position: absolute;
  top: 0;
  transform: skew(-19deg);
  transform-origin: bottom right;
  width: calc(100% + 5px);
  z-index: 9;
}

.lil-logo:after {
  height: 56px;
  width: 100%;
}

.logo .big-logo,
.logo.big-time .lil-logo {
  transform: translate3d(-150%, 0, 0);
  transition: 0.2s transform;
}
.logo .lil-logo,
.logo.big-time .big-logo {
  transform: translate3d(0, 0, 0);
  transition: 0.2s transform;
  transition-delay: 0.2s;
}
/* .big-logo {
  transform: translateX(-150%);
  transition: 0.2s;
}
.big-time .big-logo {
  transform: translateX(0);
  transition-delay: 0.2s;
}
.big-time .lil-logo {
  transform: translateX(-150%);
  transition: 0.2s;
}
.lil-logo {
  transform: translateX(0);
  transition: 0.2s;
  transition-delay: 0.2s;
} */
nav {
  display: flex;
  height: 52px;
  margin-left: 200px;
  margin-right: auto;
  position: relative;
  transition: 0.2s;
  transition-delay: 0.2s;
  z-index: 100;
}

nav a {
  align-self: stretch;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 12px;
  padding: 0 6px;
  text-decoration: none;
}
nav a:hover {
  color: #ffac31;
  /* color: #febd69; */
}
nav a::after {
  color: white;
  content: "•";
  position: absolute;
  right: -8px;
}
nav a:last-child {
  margin-right: 0;
}
nav a:last-child::after {
  content: none;
}
.big-time + nav {
  transform: translateX(90px);
  transition: 0.2s;
  transition-delay: 0.2s;
}
.search {
  align-items: center;
  border-left: 1px solid white;
  color: white;
  display: flex;
  height: 52px;
  justify-content: center;
  width: 52px;
}
.search:hover {
  color: #ffac31;
}
button {
  position: absolute;
  top: 50vh;
  left: 50vh;
  padding: 40px;
}

nav {
  display: none;
}

/* @media screen and (min-width: 1280px) {
  .big-time .big-logo {
    transform: translate3d(-150%,0,0);
    transition: 0.2s transform;
  }
  .big-time .lil-logo {
    transform: translate3d(0,0,0);
    transition: 0.2s transform;
    transition-delay: 0.2s;
  }
  .logo.big-time + .header-nav {
    transform: translate3d(0, 0, 0);
    transition-delay: 0.2s;
  } */

@media screen and (max-width: 1279px) {
  .logo.big-time .big-logo {
    transform: translate3d(-150%, 0, 0);
    transition: 0.2s transform;
  }
  .logo.big-time .lil-logo {
    transform: translate3d(0, 0, 0);
    transition: 0.2s transform;
    transition-delay: 0.2s;
  }
  .logo.big-time + .header-nav {
    transform: translate3d(0, 0, 0);
    transition-delay: 0.2s;
  }
}
@media screen and (min-width: 1280px) {
  .top-nav > li > a span {
    position: static;
    overflow: visible;
    clip: auto;
  }
}
